@import url('./antd.scss');

:root {
  --layout-menu-width: 200px;
  --layout-header-height: 56px;
  --layout-background-color: #F2F3F5;

  --font-size-s: 10px;
  --font-size-m: 12px;
  --font-size-l: 14px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 24px;

  --font-family-medium: PingFangSC-Medium, PingFang SC;
  --font-family-regular: PingFangSC-Regular, PingFang SC;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

